<!-- Left side column. contains the logo and sidebar -->
<aside class="main-sidebar">
    <!-- sidebar: style can be found in sidebar.less -->
    <section class="sidebar">
        <!-- sidebar menu: : style can be found in sidebar.less -->
        <ul class="sidebar-menu" data-widget="tree">
{#==========================================================================================================================================#}

            <li class="treeview">
                <a href="#">
                    <i class="glyphicon glyphicon-facetime-video"></i>
                    <span>寝室监控</span>
                    <span class="pull-right-container">
                  <i class="fa fa-angle-left pull-right"></i>
                  </span>
                </a>

                <ul class="treeview-menu">
                    <li><a href="#"><i class="	glyphicon glyphicon-eye-open"></i> 监控查看</a></li>
                    <li><a href="#"><i class="	glyphicon glyphicon-film"></i> 录像回放</a></li>
                </ul>
            </li>

{#==========================================================================================================================================#}

            <li class="treeview">
                <a href="#">
                    <i class="glyphicon glyphicon-home"></i>
                    <span>智慧寝室</span>
                    <span class="pull-right-container">
                  <i class="fa fa-angle-left pull-right"></i>
                  </span>
                </a>

                <ul class="treeview-menu">
                    <li><a href="smartroom/targets" target="menuFrame"><i class="glyphicon glyphicon-pushpin"></i> 个人空间</a></li>
                    <li><a href="smartroom/roomcheck" target="menuFrame"><i class="glyphicon glyphicon-wrench"></i> 寝室维修</a></li>
                    <li><a href="smartroom/roommoney" target="menuFrame"><i class="glyphicon glyphicon-flash"></i> 水电缴费</a></li>
                    <li><a href="smartroom/roompet" target="menuFrame"><i class="glyphicon glyphicon-heart"></i> 宠物喂养</a></li>
                    <li><a href="smartroom/roomworld" target="menuFrame"><i class="glyphicon glyphicon-leaf"></i> 花草世界</a></li>
                </ul>
            </li>

{#==========================================================================================================================================#}

            <li class="treeview">
                <a href="#">
                    <i class="glyphicon glyphicon-user"></i>
                    <span>我的信息</span>
                    <span class="pull-right-container">
                  <i class="fa fa-angle-left pull-right"></i>
                  </span>
                </a>

                <ul class="treeview-menu">
                    <li><a href="myinfo/myselect" target="menuFrame"><i class="glyphicon glyphicon-zoom-in"></i> 信息查询</a></li>
                    <li><a href="myinfo/myupdate" target="menuFrame"><i class="glyphicon glyphicon-pencil"></i> 信息修改</a></li>
                    <li><a href="myinfo/mymoney" target="menuFrame"><i class="glyphicon glyphicon-usd"></i> 我的账单</a></li>
                </ul>
            </li>
        </ul>
    </section>
</aside>